{
  "service_name": "{{ service_name }}",
  "name": "{{ vm_name }}",
  "os_type": "{{ os_type }}",
  "os_version": "{{ os_version }}",
  "srv_stage": "{{ srv_stage }}",
  "env": "{{ env }}",
  "sub_prc": "{{ sub_prc }}",
  "user_list": "{{ user_list }}",
  "cpu": "{{ cpu }}",
  "memory": "{{ memory }}",
  "storage": "{{ storage }}",
  "variables": '{"ansible_host": "{{ vm_ip }}", "service_name": "{{ service_name }}", "os_type": "{{ os_type }}", "os_version": "{{ os_version }}", "srv_stage": "{{ srv_stage }}", "env": "{{ env }}", "sub_prc": "{{ sub_prc }}", "user_list": "{{ user_list }}", "cpu": "{{ cpu }}", "memory": "{{ memory }}", "storage": "{{ storage }}"}'
}

