{
  "name": "{{ vm_name }}",
  "description": "{{ vm_ip }}",
  "description": "{{ cluster_name }}",
  "variables": "{\"ansible_host\": \"{{ vm_ip }}\", \"service_name\": \"{{ service_name }}\", \"os_type\": \"{{ os_type }}\", \"os_version\": \"{{ os_version }}\", \"srv_stage\": \"{{ srv_stage }}\", \"cluster_name\": \"{{ cluster_name }}\", \"sub_prc\": \"{{ sub_prc }}\", \"system_admin\": \"{{ system_admin }}\", \"user_list\": \"{{ user_list }}\", \"cpu\": \"{{ cpu }}\", \"memory\": \"{{ memory }}\", \"storage\": \"{{ storage }}\"}"
}


